@page
@model Blog_1.Pages.Admin.Blog.IndexModel
@{
}
<hr class="invis">

<form  class="my-custom-form">
    <label for="searchTerm" class="sr-only">Search by name</label>
    <input type="text" id="searchTerm" name="searchTerm" placeholder="Search by name" value="@Model.SearchTerm" class="form-control">
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i> Search
    </button>
</form>
<hr class="invis">
    <div class="row mb-5">
        <div class="col">
            <a class='btn btn-theme-outline' href='/Admin/Blog/Create'> New Project</a>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Author</th>
                    <th>Created At</th>
                </tr>
            </thead>
            @foreach (var blog in Model.Blog)
            {
                <tbody>
                    <tr>
                        <td>@blog.Id</td>
                        <td>@blog.Name</td>
                        <td>@Html.Raw(@blog.Description.Substring(0, Math.Min(@blog.Description.Length, 70)))...</td>
                        <td>@blog.Category</td>
                        <td><img src="/image/@blog.ImageFileName" width="100" height="45"></td>
                        <td>@blog.Author</td>
                        <td>@blog.CreatedAt.ToString("MM/dd/yyyy")</td>

                        <td style="white-space:nowrap">
                            <a class="btn btn-primary btn-sm" href="/Admin/Blog/Edit?id=@blog.Id">Edit</a>
                            <a class="btn btn-danger btn-sm" href="/Admin/Blog/Delete?id=@blog.Id">Delete</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>


<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item">
                <a class="page-link" href="Index?PageNumber=1" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            @if (Model.PageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?PageNumber=@(Model.PageNumber - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="/Admin/Blog/Index?pageNumber=@i">@i</a>
                </li>
            }

            @if (Model.PageNumber < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?PageNumber=@(Model.PageNumber + 1)" aria-label="Next">
                        <span aria-hidden="true">Next &raquo;</span>
                    </a>
                </li>
            }

            <li class="page-item">
                <a class="page-link" href="?PageNumber=@Model.TotalPages" aria-label="Final">
                    <span aria-hidden="true">Final</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
